body{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}
.contan{
    display: flex;
    width: 300px;
    height: 400px;
    justify-content: space-around;
    padding: 10px 5px 5px 5px;
    margin-top:50px;
    box-shadow: 10px 10px 10px 10px;
}

.signup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    text-align: center;
    border: 2px solid black;
    padding: 5px 10px;
    height: 380px;
    background-color: orangered;
}
.signup .sign--input{
    width: auto;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}
.signup .signin--button{
    border-radius: 15px 15px 15px 15px;
    width: 100px;
    height: 30px;
    border-color: brown;
    margin: auto;
    background-color: green;
}
.signup .signin--button:hover{
    color: white;
    background-color: black;
}